kenlm@ git+https://github.com/kpu/kenlm@ba83eafdce6553addd885ed3da461bb0d60f8df7
transformers[audio,sentencepiece,sklearn,vision]==5.14.1
huggingface_hub[hf_xet]==1.24.0
Pillow
librosa
pyctcdecode>=0.3.0
phonemizer
ffmpeg
starlette>=1.0.1
uvicorn
gunicorn
pandas
orjson
einops
timm
sentence_transformers==5.6.0
diffusers==0.39.0
accelerate==1.14.0
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
peft==0.19.1
